<ion-header>
  <ion-navbar>
    <ion-title>
      Cuenta
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card-header>
    <ion-icon name="settings"></ion-icon> Información de cuenta
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
          <ion-label stacked>Id de usuario</ion-label>
          <ion-label padding  *ngIf="(perfil)">{{perfil.usuario}}</ion-label>
      </ion-item>

      <ion-item>
          <ion-label stacked>Correo</ion-label>
          <ion-label padding  *ngIf="(perfil)">{{perfil._email}}</ion-label>
      </ion-item>
    
      <ion-item>
          <ion-label stacked>Ubicación</ion-label>
          <ion-label padding>México</ion-label>
      </ion-item>

      <ion-item>
          <ion-label stacked>Id reto actual</ion-label>
          <ion-label padding  *ngIf="(perfil)">{{perfil.reto_actual}}</ion-label>
      </ion-item>

    </ion-list>

  </ion-card-content>
  
      <button ion-item (click)="openChangeInfo()">
        Cambiar información o contraseña
      </button>  
 



</ion-content>
