<ion-content>

    
    
    <ion-toolbar no-padding no-margin>
        <ion-card *ngIf="(retoActual)" ng-cloak id="retoActual" no-padding no-margin style="margin-bottom: 4px;"> 
            <ion-title style="margin-bottom: 4px;" id="retoActualTitulo"> Reto actual: </ion-title>
            <hr style="background-color: rgba(0, 0, 0, 0.349);"> 
            <ion-grid no-padding style="margin-top: 5px;">
                <ion-row>
                    <ion-col>
                        <div style="padding-left: 6vw;padding-top: 2vh;padding-bottom: 1vh;">
                            <img src={{retoActual.imagen}}>
                        </div>
                    </ion-col>
                    <ion-col no-padding no-margin>
                        
                        <div style="text-align: center; margin-top: 5%; position: absolute; margin-left: 12%;">
                            <round-progress
                            [current]="distanciaActual"
                            [max]="distanciaTotalReto"
                            [color]="'#7c16b8'"
                            [background]="'#fffb04'"    
                            [radius]="60"
                            [stroke]="10"
                            [semicircle]="false"
                            [rounded]="true"
                            [clockwise]="true"
                            [responsive]="false"
                            [duration]="800"
                            [animation]="'easeInOutQuart'"
                            [animationDelay]="0"></round-progress>
                            <div *ngIf="(!completo)" style="text-align: center;margin-top: -58.5%;position: absolute;margin-left: 16%;width: 69%;color: rgba(34, 34, 34, 0.753);font-size: large;font-weight: 500;">
                                {{distanciaActual}}/{{distanciaTotalReto}} km
                            </div>
                            <div *ngIf="(completo)" style="text-align: center;margin-top: -65%;position: absolute;margin-left: 18.5%;width: 46%;">
                                <button ion-button small (click)="muestraCodigo()"> Premio </button>
                            </div>  
                        </div>
                        <div *ngIf="(retoActual.caducidad)" ng-cloak style="text-align: center;margin-top: 20vh;position: absolute;margin-left: 50%;font-size: 69%; color: #7c16b8;">
                            Expira: {{retoActual.caducidad}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div style="margin-left: 6vw; width: 58%">
                <ion-card-title style="font-size: 18px;padding: 2px 0;">
                    {{retoActual.nombre}}
                </ion-card-title> 
                <p style="font-size: 14px;line-height: 1.2;">
                    {{retoActual.descripcion}}
                </p>
            </div>   
        </ion-card>

        <ion-title *ngIf="(!retoActual)" style="text-align: center">¡Inscríbete a un reto!</ion-title>

    </ion-toolbar>


  <ion-list class="listaDeRetos">
    <ion-list-header no-padding no-margin>
        <ion-title id="#retosDisponibles" >Retos disponibles:</ion-title>
    </ion-list-header>
    <ion-spinner style="margin-left: 45%;" *ngIf="(!retosCargados)"></ion-spinner>
    <p *ngIf="(noHayRetos)" style="font-size: 14px;line-height: 1.2; padding-left: 8px;">
        Lo sentimos, por el momento no hay retos disponibles.
    </p>
    <div *ngFor="let reto of retosActivos">
        <ion-card *ngIf="(retoActual != reto)">  
                <ion-grid style="padding: 2px;">
                    <ion-row>
                        <ion-col col-4 text-center style="padding-top:2vh;">
                        <img src={{reto.imagen}}>
                        </ion-col>
                        <ion-col no-padding style="padding-left:5px;" >
                            <ion-card-title style="font-size: 18px;">
                            {{reto.nombre}}
                            </ion-card-title> 
                            <p style="font-size: 14px;">
                            {{reto.descripcion}}
                            </p>
                            <ion-row no-padding>
                                <ion-col no-padding text-center>
                                <div style="color: #7c16b8; font-weight: 600; text-transform: uppercase; text-align: center; font-family: inherit; height: 2.1em; font-size: 1.3rem; padding: 9.5% 0.9em; vertical-align: middle">
                                    <ion-icon name='flag'></ion-icon>
                                    {{reto.distancia}} Km
                                </div>
                                </ion-col>
                        
                                <ion-col no-padding text-center>
                                <div style="color: #7c16b8; font-weight: 600; text-transform: uppercase; text-align: center; font-family: inherit; height: 2.1em; font-size: 1.3rem; padding: 9.5% 0.9em; vertical-align: middle">
                                    <ion-icon name='person'></ion-icon>
                                    {{reto.inscritos}}/{{reto.cupo}}
                                </div>
                                </ion-col>
                            </ion-row>    
                        </ion-col>
                    </ion-row>
                </ion-grid>   
            <ion-card-content no-padding>
                <ion-grid no-padding>
                    <ion-row no-padding>
                            <ion-col text-center>
                                    <button style="padding:1px;" ion-button block (click)="botonInscribir(reto)">
                                        Inscribirse
                                    </button>
                            </ion-col>
                        </ion-row>
                </ion-grid>    
            </ion-card-content>      
        </ion-card>
    </div>    
  </ion-list>
</ion-content>
